<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>EMUTrackerPre</string>
	<key>CFBundleIdentifier</key>
	<string>net.quantum-bit.EMUTrackerPre</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EMUTrackerPre</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>B71C4E90-3A62-4D18-9F27-5E0A8C3D6142</key>
		<string>EMUTrackerPreFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<!-- kAudioServerPlugInTypeUUID -->
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>B71C4E90-3A62-4D18-9F27-5E0A8C3D6142</string>
		</array>
	</dict>
</dict>
</plist>
